:root {
    --black: #33221d;
    --red: #ea4c2a;
    --baige: #fbe9d1;
    --gray:#998e82;
    --light: #998e82;
    --orange: #f9ad93;
}

html {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
}

body {
    background-color: var(--baige);
}